.tableContainer .header {
  margin-bottom: 10px;
  text-align: right;
}
.tableContainer .header button:last-child {
  margin-left: 15px;
}
.tableContainer .tableOperator {
  background: #f2f2f2;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: auto 180px;
  padding: 3px 15px;
}
