.toolbar {
  display: flex;
  align-items: center;
}
.toolbar :global .command i {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin: 0 6px;
  padding-top: 6px;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
}
.toolbar :global .command i:hover {
  border: 1px solid #e6e9ed;
}
.toolbar :global .disable i {
  color: rgba(0, 0, 0, 0.25);
  cursor: auto;
}
.toolbar :global .disable i:hover {
  border: 1px solid #fff;
}
.tooltip :global .ant-tooltip-inner {
  font-size: 12px;
  border-radius: 0;
}
.itemPanel {
  flex: 1;
  background: #fafafa;
}
.itemPanel :global .ant-card {
  background: #fafafa;
}
.itemPanel :global .ant-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemPanel :global .ant-card-body > div {
  margin-bottom: 16px;
}
.detailPanel {
  flex: 1;
  background: #fafafa;
}
.detailPanel :global .ant-card {
  background: #fafafa;
}
.btnContainer i {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin: 0 6px;
  padding-top: 6px;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
}
.disabled {
  color: #ababab;
}
.disabled i {
  cursor: not-allowed;
}
